$mainBack : #0f0f0f;
$mainWhite : #fffff1;
$mainGray : #282828;

.ThemaCon {
    display: flex;
    height: 56px;
    width: -webkit-fill-available;
    background-color:$mainBack;
    color: $mainWhite;
    align-items: center;
    padding: 0px 24px;
    font-size: 14px;
    font-weight: 400 ;

    div {
        display: flex;
        width: auto;
        align-items: center;
        height: 32px;
        color: #f1f1f1;
        background-color: $mainGray;
        border-radius: 8px;
        margin: 12px 12px 12px 0px;
        padding: 0px 12px;
        cursor: pointer;;
        transition: background-color 0.3s; /* 원래 배경색에서 밝아지는 효과를 주기 위한 트랜지션 */
        &:hover {
            background-color: lighten($mainGray, 10%); /* hover 시 배경색이 10% 밝아짐 */
            opacity: 0.9;
        }
    }

    .active {
        background-color: #f1f1f1;
        color: #0f0f0f;
        &:hover {
            background-color: #f1f1f1;
        }
    }
}